.todo {
  width: 800px;
  text-align: center;
  background-image: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
  box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
  border-radius: 5px;

  h1 {
    padding: 20px 20px 10px;
    color: var(--light);
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
  }

  .add-task {
    display: flex;
    padding: 20px;

    .todo-input {
      flex-grow: 1;
      font-size: 18px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px 0 0 5px;
      color: var(--light-dark);
      background-color: var(--light);
      outline: none;
    }

    .btn {
      padding: 10px 25px 10px 15px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      color: var(--deep-blue);
      background-color: var(--light);
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color .3s, color .3s;

      &.add-btn {
        padding: 10px 15px;
        border-radius: 0 5px 5px 0;
        margin-right: 10px;

        i {
          font-size: 1.5em;
        }
      }

      &.select {
        appearance: none;
        background-image: url(../sort-down-solid.svg);
        background-repeat: no-repeat;
        background-position: right 0.5rem top 40%;
        background-size: 0.65rem auto;
        outline: none;
      }

      &:hover {
        color: #fff;
        background-color: var(--light-dark);
      }
    }
  }

  .todo-list {
    padding: 20px 0;
    background-color: #fff;

    h3 {
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    .alert-info {
      margin-top: 20px;
      color: var(--dark-blue);
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px;
      padding-left: 20px;
      list-style: none;
      background-color: var(--light);

      &.completed {
        font-size: 12px;
        font-style: italic;
        color: var(--light-dark);
        text-decoration: line-through;
      }

      .tools {
        display: inline-block;

        button {
          padding: 15px 10px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          transition: background-color .3s;

          &:hover {
            background-color: #ddd;
          }

          &.complete {
            color: var(--light-blue);
          }

          &.edit {
            font-weight: bold;
            color: rgb(15, 179, 69);
          }

          &.delete {
            color: tomato;
          }

          &.completed {
            font-size: 12px;
            font-style: italic;
            color: var(--light-dark);
            text-decoration: line-through;
          }
        }
      }
    }
  }

  .popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    color: var(--light);
    background-color: var(--light-dark);
    border-radius: 5px;

    h3 {
      padding: 20px;
    }

    .popup-body {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      padding: 10px;

      .popup-info {
        margin-bottom: 20px;
        color: var(--light);
      }

      .popup-input {
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        color: var(--light-dark);
        background-color: var(--light);
      }

      .popup-btn {
        display: inline-block;
        width: 30%;
        padding: 10px 22px;
        margin: 20px;
        border: none;
        border-radius: 5px;
        color: var(--deep-dark);
        background-color: var(--light);
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color .3s, color .3s;

        &:hover {
          color: #fff;
          background-color: var(--light-blue);
        }
      }
    }
  }
}